{
  "gitlab": {
    "root": {
      "email": "root@local",
      "password": "Tetrate123.",
      "token": "01234567890123456789"
    },
    "version": "15.11.0"
  },
  "tsb": {
    "istio_version": "1.15.7",
    "tetrate_repo": {
      "password": "<TSB_REPO_APIKEY>",
      "url": "containers.dl.tetrate.io",
      "user": "<TSB_REPO_USERNAME>"
    },
    "version": "1.6.1"
  }
}